<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo Single page App with dijit</title>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body class="claro">
    <header>
        <h1>todo
            <span>list</span>
        </h1>
        <h2>A simple todo list app built with node</h2>
    </header>

    <section class="form">
        <input type="text" id="todoInput" placeholder="Insert your task here...">
    </section>

    <ul id="todo-list" class="list">
    </ul>

    <div class="centered">
        <button id="btn-reset"></button>
    </div>


    <script src="js/dojo/dojo.js" data-dojo-config="async: true"></script>
    <script src="js/script.js"></script>
</body>

</html>